{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-14 col-md-6 mt-2 text-left" <h1 class="display-4 logo-font text-red">
            </h1>
            <a class="btn add-to-btn p-2 text-decoration-none" href="{% url 'products' %}">
                
            </a>



            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop
                        Now</a>
                </h4>
            </div>
        </div>
    </div>
</div>


<div class="container h-25">
    <div class="row h-25">
        <div class="col"></div>
    </div>
</div>

<!-- About Us -->

<section class="container-fluid mt-5 p-0">


    <div class="col-12 col-md-6">
        <h2 class="green-text text-center mb-3">About Us</h2>
        <p class="ps-3">Shanaya is a shared experience for anyone who steps on our website. Our collections take
            inspiration
            from the philosophies of different parts of UK to create an outfit that goes beyond a moment to
            become a significant memory for you.</p>
        <p class="ps-3">Today, we strive to provide our customers with the best range of Indian and Indo-western
            exquisite clothing, sourced from
            multiple designers all across the country. From Calcutta sarees to handwoven fabrics from Banaras, we
            have travelled far and wide to build-up our collection.
        </p>
        <p class="ps-3">We aim to use our experience to offer a heritage of craftsmanship with contemporary fabrics in
            order to
            stitch together everlasting memories.
        </p>
    </div>
</section>
<div class="col-12 col-md-6 about-us-img-container text-end p-0 d-none d-md-flex"
    title="We beleve quality serving to customers">
</div>




{% endblock %}