{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 logo-font text-black">
                SEE COLLECTION
            </h1>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop
                        Now</a>
                </h4>
            </div>
        </div>
    </div>
</div>


<div class="container h-25">
    <div class="row h-25">
        <div class="col"></div>
    </div>
</div>
<!-- about us section -->
<div class="container h-56 about-us g-0">
    <div class="row h-56 about-us-width">
        <div class="col-12 g-0">
            <h2>About US</h2>
            <p>Shanaya is a shared experience for anyone who steps on our website. Our collections take inspiration
                from the philosophies of different parts of UK to create an outfit that goes beyond a moment to
                become a significant memory for you.</p>

            <p>Today, we strive to provide our customers with the best range of Indian and Indo-western exquisite clothing, sourced from
                multiple designers all across the country. From Calcutta sarees to handwoven fabrics from Banaras, we
                have travelled far and wide to build-up our collection..
            </p>
            <p>We aim to use our experience to offer a heritage of craftsmanship with contemporary fabrics in order to
                stitch together everlasting memories.
            </p>

        </div>
    </div>
</div>

{% endblock %}