<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="nav-font font-weight-bold nav-link text-white mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-font font-weight-bold nav-link mr-5" href="#" id="all-products-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-products">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-products ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-products ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>


        <li class="nav-item dropdown">
            <a class="nav-font font-weight-bold nav-link mr-5" href="#" id="women-clothing-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Women
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="women-clothing-link">
                <a href="{% url 'products' %}?category=BridalWear" class="dropdown-products">Bridalwear</a>
                <a href="{% url 'products' %}?category=sarees" class="dropdown-products">Lehnga</a>
                <a href="{% url 'products' %}?category=dress" class="dropdown-products">Indowestern</a>
                <a href="{% url 'products' %}?category=womenwear" class="dropdown-products">Gowns</a>
                <a href="{% url 'products' %}?category=womenwear,bridalwear,dress,sarees" class="dropdown-products">All
                    Clothing</a>

            </div>
        </li>


        <li class="nav-item dropdown">
            <a class="nav-font font-weight-bold nav-link mr-5" href="#" id="mens-clothing-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Mens
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="mens-clothing-link">
                <a href="{% url 'products' %}?category=menswear" class="dropdown-products">Suits</a>
                <a href="{% url 'products' %}?category=kurtapyjama" class="dropdown-products">Sherwani</a>
                <a href="{% url 'products' %}?category=Suits,Sherwani" class="dropdown-products">All Clothing</a>
            </div>
        </li>


    </ul>
</div>