<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <!-- home nav -->
            <a class="nav-font font-weight-bold nav-link text-white mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <!-- products nav -->
            <a class="nav-font font-weight-bold nav-link mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-products">By Price</a>
                <a href="{% url 'products' %}?sort=quality&direction=asc" class="dropdown-products ">By Quality</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-products ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <!-- womens clothes  -->
            <a class="nav-font font-weight-bold nav-link mr-5" href="#" id="women-clothing-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                women
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="women-clothing-link">
                <a href="{% url 'products' %}?category=bridal_dresses" class="dropdown-products">Bridal Dresses</a>
                <a href="{% url 'products' %}?category=women_gowns" class="dropdown-products">Gowns</a>
                <a href="{% url 'products' %}?category=women_suit" class="dropdown-products">Suit</a>
                <a href="{% url 'products' %}?category=women_saree" class="dropdown-products">Saree</a>
                <a href="{% url 'products' %}?category=indo_western" class="dropdown-products">Indo_Western</a>
                <a href="{% url 'products' %}?category=cod_set" class="dropdown-products">Cod_set</a>
                <a href="{% url 'products' %}?category=bridal_dresses,women_gowns,women_suit,women_saree,indo_western,cod_set"
                    class="dropdown-products">All Clothing</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <!-- mens clothes  -->
            <a class="nav-font font-weight-bold nav-link mr-5" href="#" id="mens-clothing-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mens
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="mens-clothing-link">
                <a href="{% url 'products' %}?category=mens_suits" class="dropdown-products">Suits</a>
                <a href="{% url 'products' %}?category=sherwani" class="dropdown-products">Sherwani</a>
                <a href="{% url 'products' %}?category=Sherwani,mens_suits"
                    class="dropdown-products">All Clothing</a>
            </div>
        </li>
</ul>
</div>  