{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Contact Us{% endblock %}

{% block content %}
<div class="content">
    <div class="about-us-image-container">
        <h1 id="myHeader">My Header</h1>
        <div class="col text-left py-6">
            <h2 class="product-heading">Contact Us</h2>
        </div>
    </div>



    <div class="container header-container">
        
    </div>



    <div class="col-1o col-lg-6 mx-auto">
        <form method="POST" class="form mb-4">
            {% csrf_token %}
            {{ form|crispy}}
            <div class="text-start">
                <input type="submit" class="my-6 btn add-to-btn">
            </div>
        </form>
    </div>
</div>

{% endblock %}